// Colors

$primary:     #007AAD;
$secondary:   #AD325D;

$primary-lighter:   #5B9FC4;

$theme-colors: (
  primary:    $primary,
  secondary:  $secondary
);

$body-bg:     #FFF;
$body-color:  #222;

$accordion-padding-y:                     1.25rem;
$accordion-padding-x:                     0;
$accordion-border-radius:                 0;